@import url(http://allfont.ru/allfont.css?fonts=courier);
@import url(http://allfont.ru/allfont.css?fonts=courier-new);
body, html {
  padding: 0;
  margin: 0;
}

@keyframes drawTimer {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0);
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2 {
  font-family: "Courier", sans-serif !important;
}
h1 span, h2 span {
  font-family: "Courier", sans-serif !important;
}

p, li, h3 {
  font-family: "Courier New Std", sans-serif !important;
}

h3 {
  font-size: 18px !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#testing-service {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url("../assets/img/first_slide_bg.png");
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% center;
  position: relative;
}
#testing-service .testing-service-block {
  position: absolute;
  width: 90%;
  left: 5%;
  bottom: 50px;
  padding: 30px 30px 25px 25px;
  background-color: rgba(44, 151, 188, 0.9);
}
#testing-service .testing-service-block h2 {
  color: #ffffff;
  font-family: "Neo Sans Std", sans-serif;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 20px;
}
#testing-service .testing-service-block h2 span {
  color: #16527d;
}
#testing-service .testing-service-block p {
  color: #ffffff;
  font-family: "Neo Sans Std", sans-serif;
  font-weight: lighter;
  font-size: 20px;
}
#testing-service .testing-service-block p small:last-child {
  font-size: 14px;
}
#testing-service .testing-service-block .testing-service-timer-block {
  position: absolute;
  right: 50px;
  height: 140px;
  width: 140px;
  top: -40px;
  border-radius: 100%;
  background-color: #9abfde;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}
#testing-service .testing-service-block .testing-service-timer-block .testing-service-left-bg {
  z-index: 2;
  background-color: #9abfde;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 50%;
}
#testing-service .testing-service-block .testing-service-timer-block .testing-service-rotating-block {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  animation: drawTimer 2s linear forwards;
  background-image: linear-gradient(180deg, transparent 50%, #9abfde 50%), linear-gradient(90deg, #9abfde 50%, #6aa9d2 50%);
}
#testing-service .testing-service-block .testing-service-timer-block .inner {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 120px;
  width: 120px;
  border-radius: 100%;
  font-family: "Neo Sans Std", sans-serif;
  color: #0c88bc;
  background-color: #ffffff;
}
#testing-service .testing-service-block .testing-service-timer-block .inner span:nth-child(1) {
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
}
#testing-service .testing-service-block .testing-service-timer-block .inner span:nth-child(2) {
  font-size: 28px;
}

#this-module-will {
  padding: 15px 30px;
}
#this-module-will h2 {
  margin-top: 0;
  color: #0c88bc;
  font-family: Roboto Slab, serif;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}
#this-module-will .this-module-will-container {
  padding: 40px 20px;
  background-image: url("../assets/img/second-slide-bg-tablet.png");
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#this-module-will .this-module-will-container .this-module-will-info-block {
  width: 70%;
  padding: 10px 15px;
  background-color: rgba(45, 160, 194, 0.9);
}
#this-module-will .this-module-will-container .this-module-will-info-block ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#this-module-will .this-module-will-container .this-module-will-info-block ul li {
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #ffffff;
  font-family: "Neo Sans Std", sans-serif;
  font-weight: lighter;
  font-size: 18px;
}
#this-module-will .this-module-will-container .this-module-will-info-block ul li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
#this-module-will .this-module-will-container .this-module-will-info-block ul li:first-child {
  padding-top: 0;
}
#this-module-will .this-module-will-container .this-module-will-info-block ul li .this-module-will-check {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#this-module-will .this-module-will-container .this-module-will-info-block ul li .this-module-will-check .this-module-will-inner-check {
  width: 25px !important;
  height: 10px !important;
  border-bottom: 3px solid white !important;
  border-left: 3px solid white !important;
  transform: rotate(-45deg) !important;
}
#this-module-will .this-module-will-container .this-module-will-info-block ul li span {
  margin-left: 10px;
}

#sore-throat {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
#sore-throat .sore-throat-text {
  padding-right: 0;
  width: 100%;
}
#sore-throat .sore-throat-text h2 {
  margin-top: 0;
  color: #0c88bc;
  font-family: Roboto Slab, serif;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 5px;
}
#sore-throat .sore-throat-text p {
  color: black;
  font-family: "Neo Sans Std", sans-serif;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#sore-throat .sore-throat-text p:last-child {
  margin: 0 0 15px;
  font-size: 14px;
}
#sore-throat .sore-throat-text hr {
  margin-top: 30px;
  border-color: #0088bc;
  border-width: 2px 0 0;
  margin-bottom: 2px;
}
#sore-throat figure {
  background-image: url("../assets/img/sore-throat.png");
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0;
  height: 40vh;
  width: 100%;
}

#approaching-customers {
  width: 100%;
  padding: 40px;
}
#approaching-customers .approaching-customers-top-block {
  padding: 5vh 20px;
  width: 100%;
  background-image: url("../assets/img/fourth-slide-bg.png");
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  background-position: 0 center;
}
#approaching-customers .approaching-customers-top-block .approaching-customers-top-block-top-text {
  width: 70%;
  background-color: #fff;
  padding: 15px;
}
#approaching-customers .approaching-customers-top-block .approaching-customers-top-block-top-text h2 {
  color: #0c88bc;
  font-family: "Courier", sans-serif !important;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 20px;
}
#approaching-customers .approaching-customers-top-block .approaching-customers-top-block-top-text h2 span {
  font-family: "Courier", sans-serif !important;
  color: #16527d;
}
#approaching-customers .approaching-customers-top-block .approaching-customers-top-block-top-text p {
  color: #000000;
  font-family: "Courier New", sans-serif;
  font-weight: normal;
  line-height: 24px;
  font-size: 18px;
}
#approaching-customers .approaching-customers-top-block .approaching-customers-top-block-top-text p small:last-child {
  font-size: 14px;
}
#approaching-customers .approaching-customers-bottom-block-bottom-buttons {
  display: flex;
  width: 100%;
  align-items: stretch;
  position: relative;
}
#approaching-customers .approaching-customers-bottom-block-bottom-buttons .approaching-arrow-up {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 15px;
  border-top: 2px solid #6badd1;
  border-right: 2px solid #6badd1;
  left: calc(50% - 7.5px);
  transform: rotate(-45deg);
  cursor: pointer;
}
#approaching-customers .approaching-customers-bottom-block-bottom-buttons .approaching-arrow-down {
  cursor: pointer;
  width: 15px;
  bottom: 15px;
  height: 15px;
  border-bottom: 2px solid #6badd1;
  transform: rotate(-45deg);
  border-left: 2px solid #6badd1;
  position: absolute;
  left: calc(50% - 7.5px);
}
#approaching-customers .approaching-customers-bottom-block-bottom-buttons .approaching-customers-bottom-block-bottom-text {
  padding: 41.5px 0 37.5px;
  height: 320px;
  width: calc(100% - 80px);
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
#approaching-customers .approaching-customers-bottom-block-bottom-buttons .approaching-customers-bottom-block-bottom-text .approach-show {
  display: flex !important;
}
#approaching-customers .approaching-customers-bottom-block-bottom-buttons .approaching-customers-bottom-block-bottom-text .approaching-customers-bottom-block-bottom-text-inner {
  display: none;
  align-items: center;
  padding: 30px;
  width: 100%;
  background-color: #d9d7d7;
}
#approaching-customers .approaching-customers-bottom-block-bottom-buttons .approaching-customers-bottom-block-bottom-text .approaching-customers-bottom-block-bottom-text-inner div {
  width: 80%;
}
#approaching-customers .approaching-customers-bottom-block-bottom-buttons .approaching-customers-bottom-block-bottom-text .approaching-customers-bottom-block-bottom-text-inner h2 {
  margin: 0;
  padding-right: 15px;
  color: #0c88bc;
  font-weight: bold;
  font-size: 24px;
}
#approaching-customers .approaching-customers-bottom-block-bottom-buttons .approaching-customers-bottom-block-bottom-text .approaching-customers-bottom-block-bottom-text-inner h2 span {
  padding-top: 10px;
  display: block;
  font-weight: normal;
  color: #000000;
}
#approaching-customers .approaching-customers-bottom-block-bottom-buttons .approaching-customers-bottom-block-bottom-text .approaching-customers-bottom-block-bottom-text-inner p {
  padding-right: 15px;
  margin: 0;
  color: #000000;
  font-weight: normal;
  line-height: 20px;
  font-size: 18px;
}
#approaching-customers .approaching-customers-bottom-block-bottom-buttons .approaching-customers-bottom-block-bottom-text .approaching-customers-bottom-block-bottom-text-inner img {
  height: 160px;
  width: auto;
  display: inline-block;
}
#approaching-customers .approaching-customers-bottom-block-bottom-buttons .bottom-buttons-numbers {
  display: flex;
  flex-direction: column;
}
#approaching-customers .approaching-customers-bottom-block-bottom-buttons .bottom-buttons-numbers .approach-active {
  background-color: #4a9dcb !important;
}
#approaching-customers .approaching-customers-bottom-block-bottom-buttons .bottom-buttons-numbers .approach-active:after {
  background-color: #4a9dcb !important;
  visibility: visible !important;
}
#approaching-customers .approaching-customers-bottom-block-bottom-buttons .bottom-buttons-numbers .bottom-button-number {
  background-color: #0c88bc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  height: 80px;
  width: 80px;
  color: #ffffff;
  cursor: pointer;
  font-family: Roboto Slab, serif;
  font-weight: lighter;
  position: relative;
}
#approaching-customers .approaching-customers-bottom-block-bottom-buttons .bottom-buttons-numbers .bottom-button-number:after {
  width: 20px;
  height: 20px;
  content: "";
  visibility: hidden;
  position: absolute;
  right: -10px;
  top: 32px;
  background-color: #0c88bc;
  transform: rotate(45deg);
}
#approaching-customers .approaching-customers-bottom-block-bottom-buttons .bottom-buttons-numbers .bottom-button-number:hover {
  background-color: #4a9dcb;
}
#approaching-customers .approaching-customers-bottom-block-bottom-buttons .bottom-buttons-numbers .bottom-button-number:hover:after {
  background-color: #4a9dcb;
  visibility: visible;
}
#approaching-customers .approaching-customers-bottom-block {
  padding-top: 20px;
  display: flex;
}
#approaching-customers .approaching-customers-bottom-block .action-point {
  background-color: #0c88bc;
  padding: 10px 50px 10px 20px;
}
#approaching-customers .approaching-customers-bottom-block .action-point img {
  height: 50px;
  width: 50px;
}
#approaching-customers .approaching-customers-bottom-block .action-point h2 {
  margin: 0;
  line-height: 25px;
  color: #ffffff;
  font-family: Roboto Slab, serif;
  font-size: 24px;
  font-weight: bold;
}
#approaching-customers .approaching-customers-bottom-block .approaching-customers-bottom-block-text {
  background: linear-gradient(to right, transparent, #d9e6f3, #d9e6f3);
  flex-grow: 1;
  padding: 20px 50px 20px 20px;
}
#approaching-customers .approaching-customers-bottom-block .approaching-customers-bottom-block-text p {
  margin: 0;
  font-family: "Neo Sans Std", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

section#steps {
  padding: 40px;
  width: 100%;
}
section#steps p {
  font-size: 18px;
  font-family: "Neo Sans Std", sans-serif;
  color: #000;
}
section#steps .steps-wrapper {
  width: 100%;
  clear: both;
  display: inline-block;
  position: relative;
  background-color: #0c88bc;
}
section#steps .steps-wrapper img {
  left: 0;
  bottom: 0;
  position: absolute;
  height: 105%;
}
section#steps .steps-wrapper .steps-text {
  padding: 20px;
  display: block;
  float: right;
  width: 50%;
}
section#steps .steps-wrapper .steps-text h2 {
  font-size: 24px;
  color: #ffffff;
  font-family: "Neo Sans Std", sans-serif;
  font-weight: bold;
}
section#steps .steps-wrapper .steps-text h3 {
  font-size: 18px;
  color: #ffffff;
  font-family: "Neo Sans Std", sans-serif;
  font-weight: bold;
}
section#steps .steps-wrapper .steps-text p {
  font-family: "Neo Sans Std", sans-serif;
  font-size: 16px;
  margin: 5px 0;
  line-height: 24px;
  color: #ffffff;
}
section#steps .steps-wrapper .steps-text p a {
  color: #ffffff;
  text-decoration: none;
}
section#steps .steps-wrapper .steps-text p a:hover {
  cursor: pointer;
  text-decoration: underline #ffffff;
}
section#steps .steps-wrapper .steps-text ul {
  font-family: "Neo Sans Std", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
section#steps .steps-hint {
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: stretch;
}
section#steps .steps-hint .steps-click-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: #0c88bc;
}
section#steps .steps-hint .steps-click-image img {
  height: 30px;
}
section#steps .steps-hint .steps-text-hint {
  height: 100%;
  vertical-align: middle;
  flex-grow: 1;
  padding: 10px 40px;
  background: linear-gradient(to right, transparent, #d9e6f3, #d9e6f3);
}
section#steps .steps-hint .steps-text-hint p {
  margin: 0;
  font-family: "Neo Sans Std", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
section#steps .steps-click {
  width: 100%;
  display: flex;
  align-items: stretch;
}
section#steps .steps-click h2 {
  width: 100%;
  margin: 0 0 10px;
  font-size: 24px;
  color: #16527d;
  font-family: "Neo Sans Std", sans-serif;
  font-weight: bold;
}
section#steps .steps-click h2 span {
  font-family: "Courier New Std", sans-serif !important;
  font-weight: normal;
  font-size: 16px;
  color: #000;
}
section#steps .steps-click .step-image-wrapper {
  display: flex;
  overflow: visible;
  height: 20vh;
  width: 20%;
  justify-content: center;
  align-items: center;
}
section#steps .steps-click .step-image-wrapper img {
  height: 100%;
}
section#steps .steps-click .steps-boxes {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  width: 80%;
}
section#steps .steps-click .steps-boxes .steps-box-text {
  padding: 10px;
  height: calc(100% - 60px);
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #D9D7D7;
}
section#steps .steps-click .steps-boxes .steps-box-text.steps-show {
  display: flex;
}
section#steps .steps-click .steps-boxes .steps-box-text p {
  font-size: 16px;
  text-align: center;
  margin: 0;
}
section#steps .steps-click .steps-boxes .steps-box-numbers {
  display: flex;
}
section#steps .steps-click .steps-boxes .steps-box-numbers .steps-box-number {
  background-color: #0c88bc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  flex-grow: 1;
  height: 60px;
  color: #ffffff;
  cursor: pointer;
  font-family: Roboto Slab, serif;
  font-weight: lighter;
  position: relative;
}
section#steps .steps-click .steps-boxes .steps-box-numbers .steps-box-number.steps-active {
  background-color: #4a9dcb !important;
}
section#steps .steps-click .steps-boxes .steps-box-numbers .steps-box-number.steps-active:after {
  background-color: #4a9dcb !important;
  visibility: visible !important;
}
section#steps .steps-click .steps-boxes .steps-box-numbers .steps-box-number:after {
  width: 20px;
  height: 20px;
  content: "";
  visibility: hidden;
  position: absolute;
  right: calc(50% - 10px);
  bottom: -10px;
  background-color: #0c88bc;
  transform: rotate(-45deg);
}
section#steps .steps-click .steps-boxes .steps-box-numbers .steps-box-number:hover {
  background-color: #4a9dcb;
}
section#steps .steps-click .steps-boxes .steps-box-numbers .steps-box-number:hover:after {
  background-color: #4a9dcb;
  visibility: visible;
}
section#steps .steps-click .steps-left {
  flex-grow: 1;
  display: flex;
  padding-right: 10px;
  border-right: 1px solid black;
  flex-direction: column;
  width: 50%;
}
section#steps .steps-click .steps-left > div {
  display: flex;
  justify-content: space-between;
}
section#steps .steps-click .steps-right {
  padding-left: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 50%;
}
section#steps .steps-click .steps-right > div {
  display: flex;
  justify-content: space-between;
}
section#steps .steps-click .steps-right .step-shown-content .step-shown-box-content {
  width: 100%;
}

#test {
  width: 100%;
  padding: 30px;
}
#test h2 {
  width: 100%;
  margin-top: 0;
  color: #0c88bc;
  font-family: Roboto Slab, serif;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}
#test h3 {
  width: 100%;
  margin: 0;
  font-size: 18px;
  font-family: "Neo Sans Std", sans-serif;
  font-weight: normal;
}
#test .test-warpper {
  display: flex;
  align-items: stretch;
}
#test .test-warpper .test-left {
  margin-left: 5%;
  width: 40%;
}
#test .test-warpper .test-left .test-info-block {
  width: 100%;
  padding: 10px 15px;
  background-color: #2da0c2;
}
#test .test-warpper .test-left .test-info-block ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#test .test-warpper .test-left .test-info-block ul li {
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #ffffff;
  font-family: "Neo Sans Std", sans-serif;
  font-weight: lighter;
  font-size: 18px;
}
#test .test-warpper .test-left .test-info-block ul li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
#test .test-warpper .test-left .test-info-block ul li:first-child {
  padding-top: 0;
}
#test .test-warpper .test-left .test-info-block ul li .test-check {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#test .test-warpper .test-left .test-info-block ul li .test-check .test-inner-check {
  width: 25px !important;
  height: 12px !important;
  border-bottom: 3px solid white !important;
  border-left: 3px solid white !important;
  transform: rotate(-45deg) !important;
}
#test .test-warpper .test-left .test-info-block ul li span {
  margin-left: 10px;
}
#test .test-warpper .test-right {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#test .test-warpper .test-right img {
  width: 100% !important;
}
#test .test-important {
  margin-top: 40px;
  width: 100%;
  display: flex;
}
#test .test-important .test-important-left {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #0c88bc;
}
#test .test-important .test-important-left img {
  width: 50px;
}
#test .test-important .test-important-left h2 {
  margin: 5px 0 0 0;
  color: #ffffff;
  font-size: 24px;
  font-family: "Neo Sans Std", sans-serif;
  font-weight: bold;
}
#test .test-important .test-important-right {
  flex-grow: 1;
  padding: 10px 20px;
  background: linear-gradient(to right, transparent, #d9e6f3, #d9e6f3);
}
#test .test-important .test-important-right p {
  font-family: "Neo Sans Std", sans-serif;
  font-size: 18px;
  margin: 0;
  line-height: 24px;
  color: #000000;
}

#feather-pain {
  padding: 30px;
  width: 100%;
}
#feather-pain .feather-text {
  width: 100%;
}
#feather-pain .feather-text h2 {
  display: block;
  margin-top: 0;
  color: #0c88bc;
  font-family: Roboto Slab, serif;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 20px;
}
#feather-pain .feather-text p {
  font-size: 18px;
  font-family: "Neo Sans Std", sans-serif;
  font-weight: normal;
  color: #000000;
}
#feather-pain .feather-text p:last-child {
  margin: 0;
  font-size: 12px;
}
#feather-pain .feather-text hr {
  border-color: #0088bc;
  border-width: 2px 0 0;
  margin-bottom: 2px;
}
#feather-pain .feather-text .feather-info-block-wrapper {
  display: flex;
  align-items: stretch;
}
#feather-pain .feather-text .feather-info-block-wrapper .feather-bg {
  width: 30%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../assets/img/sore-throat.png");
}
#feather-pain .feather-text .feather-info-block-wrapper .feather-info-block {
  width: 70%;
  padding: 20px 15px;
  background-color: #2da0c2;
}
#feather-pain .feather-text .feather-info-block-wrapper .feather-info-block ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#feather-pain .feather-text .feather-info-block-wrapper .feather-info-block ul li {
  padding-bottom: 15px;
  border-bottom: 1px solid white;
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #ffffff;
  font-family: "Neo Sans Std", sans-serif;
  font-size: 18px;
}
#feather-pain .feather-text .feather-info-block-wrapper .feather-info-block ul li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
#feather-pain .feather-text .feather-info-block-wrapper .feather-info-block ul li:first-child {
  padding-top: 0;
}
#feather-pain .feather-text .feather-info-block-wrapper .feather-info-block ul li strong {
  color: #16527d !important;
}
#feather-pain .feather-text .feather-info-block-wrapper .feather-info-block ul li span {
  margin-left: 10px;
}

#swab-test {
  padding: 30px;
  width: 100%;
  display: flex;
}
#swab-test .swab-test-text {
  width: 50%;
  padding-right: 40px;
}
#swab-test .swab-test-text h2 {
  display: block;
  margin-top: 0;
  color: #0c88bc;
  font-family: Roboto Slab, serif;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 20px;
}
#swab-test .swab-test-text p {
  font-size: 18px;
  font-family: "Neo Sans Std", sans-serif;
  font-weight: normal;
  color: #000000;
}
#swab-test .swab-test-text .swab-test-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#swab-test .swab-test-text .swab-test-bg img {
  width: 100%;
}
#swab-test .swab-test-info {
  width: 50%;
  padding: 10px 15px;
  background-color: #d9d8d8;
}
#swab-test .swab-test-info h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
}
#swab-test .swab-test-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#swab-test .swab-test-info ul li {
  padding-bottom: 10px;
  border-bottom: 1px solid #0c88bc;
  padding-top: 10px;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  color: black;
  font-family: "Neo Sans Std", sans-serif;
  font-size: 22px;
}
#swab-test .swab-test-info ul li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
#swab-test .swab-test-info ul li:first-child {
  padding-top: 0;
}
#swab-test .swab-test-info ul li .swab-test-cell-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
#swab-test .swab-test-info ul li .swab-test-cell-text h2 {
  margin: 0;
  color: #0c88bc;
  font-size: 40px;
  font-family: "Neo Sans Std", sans-serif;
  font-weight: bold;
}
#swab-test .swab-test-info ul li strong {
  color: #16527d !important;
}
#swab-test .swab-test-info ul li span {
  margin-left: 10px;
}

#obtaining {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#obtaining h2 {
  display: block;
  width: 100%;
  margin-top: 0;
  color: #0c88bc;
  font-family: Roboto Slab, serif;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
}
#obtaining h3 {
  display: block;
  width: 100%;
  margin-top: 0;
  font-size: 20px;
  font-family: "Neo Sans Std", sans-serif;
  font-weight: normal;
}
#obtaining .obtaining-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b4b2b1;
  width: 100%;
  height: calc(100vh - 5vh);
}
#obtaining .obtaining-inner {
  position: relative;
  width: 84%;
  height: 100%;
  background: linear-gradient(to right, white, #d9e6f3, #d9e6f3);
}
#obtaining .obtaining-inner img {
  position: absolute;
  transition: opacity 0.5s linear;
  opacity: 0;
}
#obtaining .obtaining-inner img:nth-child(1), #obtaining .obtaining-inner img:nth-child(2), #obtaining .obtaining-inner img:nth-child(3), #obtaining .obtaining-inner img:nth-child(4) {
  right: 10%;
  height: 80%;
  top: 10%;
}
#obtaining .obtaining-inner img:nth-child(4) {
  right: 10%;
  height: 60%;
  top: 20%;
}
#obtaining .obtaining-inner img:nth-child(5) {
  bottom: 40%;
  left: 10%;
  width: 30%;
}
#obtaining .obtaining-inner img:nth-child(6) {
  right: 10%;
  height: 60%;
  top: 20%;
}
#obtaining .obtaining-inner img:nth-child(7) {
  bottom: 10%;
  left: 10%;
  width: 30%;
}
#obtaining .obtaining-inner .obtaining-step-block {
  transition: opacity 0.5s linear;
  opacity: 0;
  position: absolute;
  width: 45%;
}
#obtaining .obtaining-inner .obtaining-step-block.obtaining-step-first {
  left: 80px;
  bottom: 80px;
}
#obtaining .obtaining-inner .obtaining-step-block.obtaining-step-second, #obtaining .obtaining-inner .obtaining-step-block.obtaining-step-third {
  top: 120px;
  left: 80px;
}
#obtaining .obtaining-inner .obtaining-step-block.obtaining-step-fourth {
  top: 40px;
  left: 80px;
}
#obtaining .obtaining-inner .obtaining-step-block h3 {
  display: block;
  width: 100%;
  margin-top: 0;
  color: #0c88bc;
  font-family: Roboto Slab, serif;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 28px !important;
  margin-bottom: 10px;
}
#obtaining .obtaining-inner .obtaining-step-block p {
  margin-top: 0;
  font-size: 18px;
  font-family: "Neo Sans Std", sans-serif;
  font-weight: normal;
  margin-bottom: 2.5px;
  color: #000000;
}
#obtaining .obtaining-arrow-wrapper {
  height: 100%;
  width: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #b4b2b1;
}
#obtaining .obtaining-arrow-wrapper:hover {
  filter: brightness(1.05);
}
#obtaining .obtaining-arrow-wrapper .obtaining-arrow {
  width: 30px;
  height: 30px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  transform: rotate(45deg);
  margin-left: 15px;
}
#obtaining .obtaining-arrow-wrapper .obtaining-arrow.obtaining-arrow-right {
  margin-right: 15px;
  margin-left: 0;
  border-left: 0;
  border-bottom: 0;
  border-right: 3px solid white;
  border-top: 3px solid white;
  transform: rotate(45deg);
}

#reading-the-results {
  width: 100%;
  padding: 30px;
}
#reading-the-results h2 {
  display: block;
  width: 100%;
  margin-top: 0;
  color: #0c88bc;
  font-family: Roboto Slab, serif;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
}
#reading-the-results h2:not(:first-child) {
  color: #000;
  font-size: 24px;
}
#reading-the-results h3 {
  display: block;
  width: 100%;
  margin-top: 0;
  font-size: 20px;
  font-family: "Neo Sans Std", sans-serif;
  font-weight: normal;
}
#reading-the-results img {
  margin: 10px 0;
  width: 60%;
}
#reading-the-results .reading-the-results-negative {
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
  background-color: #0088BC;
  padding: 20px;
}
#reading-the-results .reading-the-results-negative .reading-the-results-negative-inner {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #7CC8BA;
  padding: 25px;
  text-align: right;
}
#reading-the-results .reading-the-results-negative .reading-the-results-negative-inner img {
  width: 150px;
}
#reading-the-results .reading-the-results-negative .reading-the-results-negative-inner h2 {
  font-size: 18px;
}
#reading-the-results .reading-the-results-negative h2 {
  font-size: 24px;
  color: #ffffff;
}
#reading-the-results .reading-the-results-negative p {
  width: 60%;
  line-height: 24px;
  margin-top: 0;
  font-size: 16px;
  font-family: "Neo Sans Std", sans-serif;
  font-weight: normal;
  color: #ffffff;
}

#dispensing {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#dispensing h2 {
  padding-left: 30px;
  padding-right: 30px;
  display: block;
  width: 100%;
  margin-top: 0;
  color: #0c88bc;
  font-family: Roboto Slab, serif;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
}
#dispensing h2:not(:first-child) {
  color: #000;
  font-size: 24px;
}
#dispensing h3 {
  padding-left: 30px;
  padding-right: 30px;
  display: block;
  width: 100%;
  margin-top: 0;
  font-size: 20px;
  font-family: "Neo Sans Std", sans-serif;
  font-weight: normal;
}
#dispensing .dispensing-inner {
  margin-bottom: 20px;
  width: 100%;
  height: 65vh;
  background-image: url("../assets/img/dispencing-bg.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 40% bottom;
  background-repeat: no-repeat;
  position: relative;
}
#dispensing .dispensing-inner .dispensing-block {
  position: absolute;
  z-index: 0;
  background-color: #0088BC;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
}
#dispensing .dispensing-inner .dispensing-block h2 {
  padding: 0;
}
#dispensing .dispensing-inner .dispensing-block:nth-child(1) {
  left: 3%;
  top: 5%;
}
#dispensing .dispensing-inner .dispensing-block:nth-child(1) a {
  color: #B30000;
  text-underline-color: #B30000;
}
#dispensing .dispensing-inner .dispensing-block:nth-child(2) {
  left: 70%;
  top: 7%;
}
#dispensing .dispensing-inner .dispensing-block:nth-child(2) .dispensing-inner-text-block {
  right: 100px;
  left: unset;
}
#dispensing .dispensing-inner .dispensing-block:nth-child(2) .dispensing-inner-text-block .dispensing-triangle {
  left: unset;
  right: -14px;
  top: calc(22%);
  border-right: 2px solid #0088bc;
  border-left: 0;
  border-bottom: 0;
  border-top: 2px solid #0088bc;
}
#dispensing .dispensing-inner .dispensing-block:nth-child(3) {
  left: 8%;
  top: 37%;
}
#dispensing .dispensing-inner .dispensing-block:nth-child(3) .dispensing-inner-text-block .dispensing-triangle {
  top: calc(40%);
}
#dispensing .dispensing-inner .dispensing-block:nth-child(4) {
  left: 73%;
  top: 50%;
}
#dispensing .dispensing-inner .dispensing-block:nth-child(4) .dispensing-inner-text-block {
  right: 100px;
  left: unset;
}
#dispensing .dispensing-inner .dispensing-block:nth-child(4) .dispensing-inner-text-block .dispensing-triangle {
  left: unset;
  right: -14px;
  top: calc(22%);
  border-right: 2px solid #0088bc;
  border-left: 0;
  border-bottom: 0;
  border-top: 2px solid #0088bc;
}
#dispensing .dispensing-inner .dispensing-block:nth-child(5) {
  left: 5%;
  top: 70%;
}
#dispensing .dispensing-inner .dispensing-block:nth-child(6) {
  left: 70%;
  top: 75%;
}
#dispensing .dispensing-inner .dispensing-block:nth-child(6) .dispensing-inner-text-block {
  right: 100px;
  left: unset;
}
#dispensing .dispensing-inner .dispensing-block:nth-child(6) .dispensing-inner-text-block .dispensing-triangle {
  left: unset;
  right: -14px;
  top: calc(22%);
  border-right: 2px solid #0088bc;
  border-left: 0;
  border-bottom: 0;
  border-top: 2px solid #0088bc;
}
#dispensing .dispensing-inner .dispensing-block .dispensing-inner-text-block {
  transition: width 0.5s linear;
  top: -20px;
  left: 100px;
  position: absolute;
  z-index: 3;
  border-right: 2px solid #0088bc;
  border-left: 2px solid #0088bc;
  background-color: #F6F6F6;
  padding: 15px 40px 15px 20px;
  visibility: hidden;
  width: 0;
}
#dispensing .dispensing-inner .dispensing-block .dispensing-inner-text-block .dispensing-inner-arrows {
  display: flex;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
#dispensing .dispensing-inner .dispensing-block .dispensing-inner-text-block .dispensing-inner-arrows .dispensing-inner-arrow {
  margin: 0 0;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  border-bottom: 1px solid #0088bc;
  border-left: 1px solid #0088bc;
}
#dispensing .dispensing-inner .dispensing-block .dispensing-inner-text-block .dispensing-inner-arrows .dispensing-inner-arrow.dispensing-right-inner-arrow {
  border-bottom: 0;
  border-left: 0;
  border-top: 1px solid #0088bc;
  border-right: 1px solid #0088bc;
}
#dispensing .dispensing-inner .dispensing-block .dispensing-inner-text-block .dispensing-triangle {
  margin: 0;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  background-color: #F6F6F6;
  transform: rotate(45deg);
  top: calc(30%);
  left: -14px;
  border-left: 2px solid #0088bc;
  border-bottom: 2px solid #0088bc;
}
#dispensing .dispensing-inner .dispensing-block .dispensing-inner-text-block img {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  top: 10px;
  right: 10px;
}
#dispensing .dispensing-inner .dispensing-block .dispensing-inner-text-block p {
  transition: all 0.5s linear;
  width: 100%;
  line-height: 24px;
  display: none;
  margin: 0;
  font-size: 16px;
  font-family: "Neo Sans Std", sans-serif;
  font-weight: normal;
  color: #000000;
}
#dispensing .dispensing-inner .dispensing-checkmark-block {
  transition: opacity 0.5s linear;
  opacity: 0;
  top: 0;
  left: 0;
  background-color: #009cd7;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#dispensing .dispensing-inner .dispensing-checkmark-block .dispensing-checkmark {
  height: 20px;
  width: 40px;
  border-bottom: 4px solid white;
  border-left: 4px solid white;
  transform: rotate(-45deg) translate(5px, -2.5px);
}
#dispensing .dispensing-inner h2 {
  transition: opacity 0.5s linear;
  opacity: 1;
  cursor: pointer;
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  font-size: 50px !important;
  font-weight: lighter;
  color: #ffffff;
  margin: 0;
}
#dispensing .dispensing-reset {
  cursor: pointer;
  display: flex;
  align-items: stretch;
}
#dispensing .dispensing-reset:hover {
  filter: brightness(1.05);
}
#dispensing .dispensing-reset .dispensing-reset-left {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: #0088BC;
}
#dispensing .dispensing-reset .dispensing-reset-left img {
  width: 25px;
  height: 25px;
}
#dispensing .dispensing-reset .dispensing-reset-right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: linear-gradient(to right, transparent, #d9e6f3, #d9e6f3);
}
#dispensing .dispensing-reset .dispensing-reset-right * {
  margin: 0;
}

#references {
  width: 100%;
  padding: 30px;
}
#references h2 {
  display: block;
  width: 100%;
  margin-top: 0;
  color: #0c88bc;
  font-family: Roboto Slab, serif;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
}
#references p {
  font-size: 16px;
}
#references li {
  color: black;
  font-weight: normal;
  font-family: "Neo Sans Std", sans-serif;
  font-size: 16px;
  margin: 10px;
}
#references h3 {
  display: block;
  width: 100%;
  font-size: 18px;
  font-family: "Neo Sans Std", sans-serif;
  font-weight: bold;
}

/*# sourceMappingURL=style(tablet).css.map */
