body, html {
  padding: 0;
  margin: 0;
}

@keyframes drawTimer {
  0% {
    transform: rotate(-120deg);
  }
  100% {
    transform: rotate(0);
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#testing-service {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url("/assets/img/first_slide_bg.png");
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
#testing-service .testing-service-block {
  position: absolute;
  width: 40%;
  right: 50px;
  bottom: 100px;
  padding: 30px 30px 25px 25px;
  background-color: rgba(45, 160, 194, 0.9);
}
#testing-service .testing-service-block h2 {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
#testing-service .testing-service-block h2 span {
  color: #16527d;
}
#testing-service .testing-service-block p {
  color: #ffffff;
  font-family: "Open sans", sangs-serif;
  font-weight: lighter;
  font-size: 18px;
}
#testing-service .testing-service-block p small:last-child {
  font-size: 14px;
}
#testing-service .testing-service-block .testing-service-timer-block {
  position: absolute;
  right: 50px;
  height: 120px;
  width: 120px;
  top: -40px;
  border-radius: 100%;
  background-color: #9abfde;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}
#testing-service .testing-service-block .testing-service-timer-block .testing-service-left-bg {
  z-index: 2;
  background-color: #9abfde;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 50%;
}
#testing-service .testing-service-block .testing-service-timer-block .testing-service-rotating-block {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  animation: drawTimer 1s linear forwards;
  background-image: linear-gradient(180deg, transparent 50%, #9abfde 50%), linear-gradient(90deg, #9abfde 50%, #6aa9d2 50%);
}
#testing-service .testing-service-block .testing-service-timer-block .inner {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  font-family: "Open Sans", sans-serif;
  color: #0c88bc;
  background-color: #ffffff;
}
#testing-service .testing-service-block .testing-service-timer-block .inner span:nth-child(1) {
  font-size: 32px;
  line-height: 1;
  font-weight: bold;
}
#testing-service .testing-service-block .testing-service-timer-block .inner span:nth-child(2) {
  font-size: 24px;
}

#this-module-will {
  padding: 15px 30px;
}
#this-module-will h2 {
  margin-top: 0;
  color: #0c88bc;
  font-family: Roboto Slab, serif;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}
#this-module-will .this-module-will-container {
  padding: 40px 20px;
  background-image: url("/assets/img/second-slide-bg.png");
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#this-module-will .this-module-will-container .this-module-will-info-block {
  width: 50%;
  padding: 10px 15px;
  background-color: rgba(45, 160, 194, 0.9);
}
#this-module-will .this-module-will-container .this-module-will-info-block ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#this-module-will .this-module-will-container .this-module-will-info-block ul li {
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #ffffff;
  font-family: "Open sans", sangs-serif;
  font-weight: lighter;
  font-size: 18px;
}
#this-module-will .this-module-will-container .this-module-will-info-block ul li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
#this-module-will .this-module-will-container .this-module-will-info-block ul li:first-child {
  padding-top: 0;
}
#this-module-will .this-module-will-container .this-module-will-info-block ul li .this-module-will-check {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#this-module-will .this-module-will-container .this-module-will-info-block ul li .this-module-will-check .this-module-will-inner-check {
  width: 25px !important;
  height: 10px !important;
  border-bottom: 3px solid white !important;
  border-left: 3px solid white !important;
  transform: rotate(-45deg) !important;
}
#this-module-will .this-module-will-container .this-module-will-info-block ul li span {
  margin-left: 10px;
}

#sore-throat {
  padding: 30px;
  display: flex;
  align-items: stretch;
}
#sore-throat .sore-throat-text {
  padding-right: 80px;
  width: 60%;
}
#sore-throat .sore-throat-text h2 {
  margin-top: 0;
  color: #0c88bc;
  font-family: Roboto Slab, serif;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}
#sore-throat .sore-throat-text p {
  color: black;
  font-family: "Open sans", sangs-serif;
  font-size: 18px;
}
#sore-throat .sore-throat-text p:last-child {
  margin: 0;
  font-size: 14px;
}
#sore-throat .sore-throat-text hr {
  border-color: #0088bc;
  border-width: 2px 0 0;
  margin-bottom: 2px;
}
#sore-throat figure {
  background-image: url("/assets/img/sore-throat.png");
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0;
  width: 40%;
}

/*# sourceMappingURL=style.css.map */
